/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: #576366;
  background-image: url(/images/burned-grunge-paper-background.jpg);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: #404040;
  font-size: 1.6em;
  margin-bottom: 1.25em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3b80d1;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 95%;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: #edeff0;
  margin-bottom: 2em;
}
.main-content {
  padding: 1em 2em;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* New Code 5/14 -------- */
.course {
  margin-bottom: 1em;
  border: 1px solid #666;
  padding: 10px;
}

.course p {
  word-break: break-all;
}

.course header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 0;
}

.course header h3, 
.course header div {
  flex-basis: 50%;
}

.course header div {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.course header p {
  margin: 0;
  padding: 0;
  order: 3;
  flex-basis: 100%;
}

div.Magic,
div.All.Schools {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
}

div.Magic p,
div.All.Schools p {
  margin: 0;
  padding: 0;
  
}

div.Fire.Magic {
  background: red;
  color: white;
}

div.Air.Magic {
  background: grey;
  color: black;
}

div.Water.Magic {
  background: blue;
  color: white;
}

div.Earth.Magic {
  background: brown;
  color: white;
}

div.All.Schools {
  background: black;
  color: white;
}

/* IMAGES -------- */

.course-img {
  width: 100px;
  height: 200px;
}
.teacher-img {
  width: 100%;
  border-radius: .3em;
}
.not-found {
  text-align: center;
}

/* MAIN NAV -------- */

.main-nav a {
  font-size: .95em;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}
.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #3b80d1;
}

/* COURSE NAV -------- */

.course-nav li{
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: #39add1;
}

.course-nav li:first-child a:hover,
.course-nav li:first-child a.active {
  color: #fff;
  background: #036685;
}


.course-nav li:nth-child(2) a:hover,
.course-nav li:nth-child(2) a.active {
  color: #fff;
  background: #03b639;
}

.course-nav li:nth-child(3) a:hover,
.course-nav li:nth-child(3) a.active {
  color: #fff;
  background: #78baf7;
}

.course-nav li:nth-child(4) a:hover,
.course-nav li:nth-child(4) a.active {
  color: #fff;
  background: #e70f0f;
}

.course-nav li:nth-child(5) a:hover,
.course-nav li:nth-child(5) a.active {
  color: #fff;
  background: #110e10;
}

.course-nav li:nth-child(6) a:hover,
.course-nav li:nth-child(6) a.active {
  color: #fff;
  background: #7a3106;
}

.course-nav li:nth-child(7) a:hover,
.course-nav li:nth-child(7) a.active {
  color: #fff;
  background: tan;
}

.course-nav li:nth-child(8) a:hover,
.course-nav li:nth-child(8) a.active {
  color: #fff;
  background: #0f3a01;
}

.course-nav li:nth-child(9) a:hover,
.course-nav li:nth-child(9) a.active {
  color: #fff;
  background: #631077;
}

.spell1 a:hover,
.spell1 a.active {
  color: #fff !important;
  background: #03b2e7 !important;
}
.spell2 a:hover,
.spell2 a.active {
  color: #fff !important;
  background: #0376a3 !important;
}
.spell3 a:hover,
.spell3 a.active {
  color: #fff !important;
  background: #036685 !important;
}
.spell4 a:hover,
.spell4 a.active {
  color: #fff !important;
  background: #0421a3 !important;
}
.spell5 a:hover,
.spell5 a.active {
  color: #fff !important;
  background: #0f0052 !important;
}




/* ICONS -------- */

.icn-logo {
  background: #54606b;
  color: #fff;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;
  margin-top: 30px;
}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
  .home a {
    border-color: transparent;
  }
   .icn-logo {
     display: block;
     width: 100%;
     text-align: center;
     padding-bottom: 4px;
   }
   .main-nav a {
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
   }
   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav{
     display: block;
     margin: 1.5em 0 3.2em;
   }
   .home a,
   input,
   button {
     display: block;
     width: 100%;
     margin-bottom: 1em;
   }
}
@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .teacher {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  .media {
    display: flex;
   height:auto;
  }
  .teacher {
    width: 48.73%;
    margin-bottom: 1.5em;
  }
  .teacher + .teacher {
    margin-left: 2.54%;
  }
  .teacher:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }
  /* MAIN NAV -------- */
  .icn-logo {
    margin-right: auto;
    padding: 0 2em;
  }
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
  /* COURSE NAV -------- */
  .course-nav {
    float: right;
    display: flex;
    margin: 0 0 10px 0
  } 
  .courses h2 {
    float: left;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}